{% load static %}
<!DOCTYPE html>
<html lang="en">

    <link rel="canonical" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
    {% comment %} current price {% endcomment %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    {% comment %} current price ends {% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"/>


    
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <!--<img src="logo.png" alt="">-->
                    </span>
    
                    <div class="text logo-text">
                        <span class="name">Forex</span>
                        <span class="profession">Prediction</span>
                    </div>
                </div>
    
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
                
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="{% url 'index' %}">
                                <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                <span class="text nav-text">Back Testing</span>
                            </a>
                        </li>
    
                    
    
                    </ul>
                </div>
    
                <div class="bottom-content">
                 
    
                </div>
            </div>
    
        </nav>

        <section class="home">
            <div class="text">Forex Dashboard</div>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
    

</head>
<body>

<form id="refresh_data">
    <h1>Current Price</h1>
    <div id="current_price">
        <p id="para_current_price" style="font-size: 30px"> {{current_price | floatformat:"-6"}} </p>
        <!--    <input type="text" value={{current_price}}>-->
    </div>

    <div class="dropdown">
        <p class="form-heading"> Select Currency </p>
        <select name="currency" id="currency">
            <option value="default">-- SELECT --</option>
            {% for i in Get_currency%}
            <option value="{{i.currency_name}}"> {{i.currency_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-item">
        <p class="form-heading">
            Select Time Interval
        </p>
        <select name="interval" id="interval">
            <option value="default">-- SELECT --</option>
            {% for i in Get_interval %}
            <option value="{{i.minutes}}"> {{i.minutes}}</option>
            {% endfor %}
        </select>
    </div>

    <div id='myDiv_sell' style="float:right;"><!-- Plotly chart will be drawn inside this DIV --></div>
    <div>
        <script>
<!--			var data = [-->
<!--	{-->
<!--		domain: { x: [0, 0.5], y: [0.5, 1] },-->
<!--		value: {{ result_sell }},-->
<!--		title: { text: "Sell" },-->
<!--		type: "indicator",-->
<!--		mode: "gauge+number"-->
<!--	}-->
<!--];-->

<!--var layout = { width: 400, height: 450, margin: { t: 0, b: 0 } };-->
<!--console.log(layout);-->
<!--Plotly.newPlot('myDiv_sell', data, layout);-->

        </script>
    </div>

    <div id='myDiv_buy'><!-- Plotly chart will be drawn inside this DIV --></div>
    <div>
        <script>
<!--				var data = [-->
<!--	{-->
<!--		domain: { x: [0, 0.5], y: [0.5, 1] },-->
<!--		value: {{ result_buy }},-->
<!--		title: { text: "Buy" },-->
<!--		type: "indicator",-->
<!--		mode: "gauge+number"-->
<!--	}-->
<!--];-->
<!--var layout = { width: 400, height: 450, margin: { t: 0, b: 0 } };-->
<!--Plotly.newPlot('myDiv_buy', data, layout);-->

        </script>
    </div>

    <h1>Forex Currency Prediction</h1>
    <table id="prediction_tbl">
        <thead>
        <tr>
            <th>Currency</th>
            <th>Time Interval</th>
            <th>High</th>
            <th>High Prediction</th>
            <th>Date Time Hit High</th>
            <th>Low</th>
            <th>Low Prediction</th>
            <th>Date Time Hit Low</th>
        </tr>
        </thead>
        <tbody id = "pred_tbl_body">
        {% for i in result_high_low %}
        <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>History Prediction Table</h1>
    <table id="hist_table">
        <thead>
        <tr>
            <th>Current Time</th>
            <th>Currency</th>
            <th>Time Interval</th>
            <th>Actual High</th>
            <th>Actual Low</th>
            <th>Predicted High</th>
            <th>Predicted Low</th>
            <th>Target DateTime</th>
            <th>DateTime Hit High</th>
            <th>DateTime Hit Low</th>
        </tr>
        </thead>
        <tbody id = "hist_tbl_body">
        {% for i in result_historical %}
        <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

</form>

<script>
let queryParams = new URLSearchParams(window.location.search);

let currency_ = queryParams.get("currency"); // return john
let interval = queryParams.get("interval"); // return sales

if (currency_ == null){
const dd = document.getElementById ('currency');
dd.selectedIndex = [...dd.options].findIndex (option => option.text === "-- SELECT --");
}
else{
const dd = document.getElementById ('currency');
dd.selectedIndex = [...dd.options].findIndex (option => option.text === currency_);
}

if (interval == null){
const dd = document.getElementById ('interval');
dd.selectedIndex = [...dd.options].findIndex (option => option.text === "-- SELECT --");
}
else{
const dd = document.getElementById ('interval');
dd.selectedIndex = [...dd.options].findIndex (option => option.text === interval);
}


var PAGE_URL = "http://127.0.0.1:8000/"
console.log("This is started");
var $selectSeries = $('#currency');
console.log($selectSeries);
$selectEpisode = $('#interval');
$episodeOptions = $selectEpisode.find('option'); 
<!--  $tbody = $('#results tbody');-->
<!--  $rows = $tbody.find('tr');-->

var params;
var params_;

function onSeriesChange() {
console.log("This is Seires change currency");
  var selectedSeries = $selectSeries.val() || '';
  var selectedEpisode = $selectEpisode.val() || '';
  console.log(selectedSeries);
  console.log("-----"+selectedEpisode);
  params = "?currency="+selectedSeries;

  console.log(params);
  window.location.replace(PAGE_URL+params);
}

function onEpisodeChange() {
console.log("This is Seires change currency");
  var selectedSeries = $selectSeries.val() || '';
  var selectedEpisode = $selectEpisode.val() || '';
  console.log(selectedSeries);
  console.log("-----"+selectedEpisode);
  params = "?currency="+selectedSeries+"&interval="+selectedEpisode;

  console.log(params);
  window.location.replace(PAGE_URL+params)
}

$selectSeries.on('change', onSeriesChange);
$selectEpisode.on('change', onEpisodeChange);
</script>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function () {
            // catch the form's submit event
            $("#currency").change(function ()
            {
            var ajaxInterval = setInterval(function(){AjaxCurrentPrice_timer()},200);
                // create an AJAX call
            });
        })

$(document).ready(function () {
            // catch the form's submit event
            $("#interval").change(function ()
            {
            var ajaxInterval = setInterval(function(){AjaxCurrentPrice_timer()},200);
                // create an AJAX call
            });
        })


var ajaxInterval = setInterval(function(){AjaxCurrentPrice_timer()},200);
		function AjaxCurrentPrice_timer()
		{
			$.ajax({
				data: $("#refresh_data").serializeArray(),
                    url: "{% url 'get_currency' %}",
                    // on success
                success: function (response) {
                         console.log("Inside Get Current price");

                        var element = document.getElementById("para_current_price");
                        element.innerHTML = response.current_price;

                        var pred_tbl_body = document.getElementById("pred_tbl_body");
                        console.log(response.result_high_low.length);
                        var table_data = '';
                        for(var i = 0; i < response.result_high_low.length; i++) {
                             var temp1 = "<tr><td>"+response.result_high_low[i][0]+"</td>";
                             temp1 += "<td>"+response.result_high_low[i][1]+"</td>";
                             if (response.result_high_low[i][2] == "" || response.result_high_low[i][2] == null){
                                temp1 += "<td>No Data</td>";
                             }
                             else
                             {
                                temp1 += "<td>"+response.result_high_low[i][2]+"</td>";
                             }
<!--                         temp1 += "<td>"+response.result_high_low[i][2]+"</td>";-->
                             temp1 += "<td>"+response.result_high_low[i][3]+"</td>";
                             temp1 += "<td>"+response.result_high_low[i][4]+"</td>";
                             temp1 += "<td>"+response.result_high_low[i][5]+"</td>";
                             temp1 += "<td>"+response.result_high_low[i][6]+"</td>";
                             temp1 += "<td>"+response.result_high_low[i][7]+"</td></tr>";
                            table_data = table_data+temp1;
                        }
                        pred_tbl_body.innerHTML = table_data;

                        var result_historical_ = document.getElementById("hist_tbl_body");
                        table_data = '';
                        for(var i = 0; i < response.result_historical.length; i++) {
                             var temp1 = "<tr><td>"+response.result_historical[i][0]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][1]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][2]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][3]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][4]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][5]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][6]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][7]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][8]+"</td>";
                             temp1 += "<td>"+response.result_historical[i][9]+"</td></tr>";
                            table_data = table_data+temp1;
                        }
                        result_historical_.innerHTML = table_data;

                        var buy_gauge = document.getElementById("myDiv_buy");
                        var data = [
                            {
                                domain: { x: [0, 0.5], y: [0.5, 1] },
                                value: response.result_buy,
                                title: { text: "Buy" },
                                type: "indicator",
                                mode: "gauge+number"
                            }
                        ];
                        var layout = { width: 400, height: 450, margin: { t: 0, b: 0 } };
                        Plotly.newPlot(buy_gauge, data, layout);

                        var sell_gauge = document.getElementById("myDiv_sell");
                        console.log("SELL GAUGE ");
                        var data = [
                            {
                                domain: { x: [0, 0.5], y: [0.5, 1] },
                                value: response.result_sell,
                                title: { text: "Sell" },
                                type: "indicator",
                                mode: "gauge+number"
                            }
                        ];
                        var layout = { width: 400, height: 450, margin: { t: 0, b: 0 } };
                        Plotly.newPlot(sell_gauge, data, layout);
                    },



                    // on error
                error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
			})
		}


</script>
<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script src="{% static 'js/index.js' %}"></script>  

{% endblock javascripts %}
</html>
